.white{
    color: white !important;
}

.black{
    color: black !important;
}

.navbar{
    background-color: #FB8678;
}

#catpic{
    width: 100%;
}

.info_section{
    text-align: center;
    margin-top: 70px;

}

.info_title{
    font-weight: bold;
}

.pic_text{
    margin-top: 20px;
}

.my_table{
    margin-top: 40px;
}