{% extends 'base.html' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <img id="catpic" src="/static/melon-cat.jpg">
            </div>
        </div>
        <div class="row pic_text">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">We deliver only the highest quality domestic and exotic melons from local, independent farmers from around the world. Our melons are delivered quickly with the greatest care. We guarantee every order, every time.</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 info_section"><span class="glyphicon glyphicon-star"></span><span class="info_title">Award Winning</span><br>Take our word for it. See all the awards our melons have earned.</div>

            <div class="col-xs-12 col-sm-4 info_section"><span class="glyphicon glyphicon-globe"></span><span class="info_title">Huge Selection</span><br>We import melons from all over the world, ensuring we have every melon you could possibly desire.</div>

            <div class="col-xs-12 col-sm-4 info_section"><span class="glyphicon glyphicon-certificate"></span><span class="info_title">Certified Sustainable</span><br>Our melons are sourced only from sustainable, organic local farmers. These are the healthiest melons you'll ever eat.</div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 my_table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Melon</th>
                            <th>Price</th>
                            <th>Color</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Canteloupe</td>
                            <td>$4.99/lb</td>
                            <td>Tan</td>
                            <td>Italy</td>
                        </tr>
                        <tr>
                            <td>Honeydew</td>
                            <td>$3.99/lb</td>
                            <td>White/Green</td>
                            <td>France/Algeria</td>
                        </tr>
                        <tr>
                            <td>Casaba</td>
                            <td>$7.99/lb</td>
                            <td>Yellow</td>
                            <td>Turkey</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}